body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 50px auto;
  background: black;
  padding: 30px;
  border-radius: 10px;
}

h1 {
  color: #222;
}

h2 {
  color: #444;
}

a {
  color: #0066cc;
  text-decoration: none;
}
